In [99]:
# Import libraries
import pandas as pd
from datetime import datetime

In [102]:
# Load dataframe from csv
df = pd.read_csv("triangle-Table 1.csv")
df = df.set_index("Relating to Period")
df

,2010 Q1,2010 Q2,2010 Q3,2010 Q4,2011 Q1,2011 Q2,2011 Q3,2011 Q4,2012 Q1,2012 Q2,...,2020 Q4,2021 Q1,2021 Q2,2021 Q3,2021 Q4,2022 Q1,2022 Q2,2022 Q3,2022 Q4,2023 Q1
Relating to Period,,,,,,,,,,,,,,,,,,,,,
Apr-10,0.2,,,,,,,,,,...,,,,,,,,,,
May-10,0.3,,,,,,,,,,...,,,,,,,,,,
Jun-10,0.3,,,,,,,,,,...,,,,,,,,,,
Jul-10,0.3,1.1,,,,,,,,,...,,,,,,,,,,
Aug-10,0.3,1.2,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Feb-23,0.9,1.1,0.6,0.1,0.3,0.1,0.2,0,0.8,-0.1,...,1.2,-1.1,6.5,1.7,1.5,0.5,0.1,-0.2,0,
Mar-23,0.9,1.1,0.6,0.1,0.3,0.1,0.2,0,0.8,-0.1,...,1.2,-1.1,6.5,1.7,1.5,0.5,0.1,-0.1,0.1,
May-23,0.9,1.1,0.6,0.1,0.3,0.1,0.2,0,0.8,-0.1,...,1.2,-1.1,6.5,1.7,1.5,0.5,0.1,-0.1,0.1,0.1
Jun-23,0.9,1.1,0.6,0.1,0.3,0.1,0.2,0,0.8,-0.1,...,1.2,-1.1,6.5,1.7,1.5,0.5,0.1,-0.1,0.1,0.1
Aug-23,0.9,1.1,0.6,0.1,0.3,0.1,0.2,0,0.8,-0.1,...,1.2,-1.1,6.5,1.7,1.5,0.5,0.1,-0.1,0.1,0.1

In [101]:
# A funcion that takes a date and quarter string (e.g. "2010 Q1") and a number of years (e.g. 3) and outputs a date string which can be used to index the table
def quarter_to_date(quarter_string, y):
    year, q = quarter_string.split()
    year = int(year)

    if q == 'Q1':
        dt = datetime(year+y, 5, 1)
    elif q == 'Q2':
        dt = datetime(year+y, 8, 1)
    elif q == 'Q3':
        dt = datetime(year+y, 11, 1)
    elif q == 'Q4':
        dt = datetime(year+y+1, 2, 1)
    else:
        raise ValueError(f"Invalid quarter format: {q}")
    
    return dt.strftime('%b-%y')

# This should output the date that corresponds to 3 years after 2010 Q1
date_result = quarter_to_date("2010 Q1", 3)
print(date_result)

May-13

In [103]:
# Create a new dataframe that uses the three revisions as columns and each quarter as a row

# Define columns
columns = ["1_year_revision", "2_year_revision", "3_year_revision"]

# Create empty DataFrame
df_new = pd.DataFrame(columns=columns)

# Loop through each quarter (q)
for q in df.columns:

    # Get the index for this quarter after 0 years
    i0 = quarter_to_date(q, 0)
    # Index the dataframe to find the value at this quarter at the 0th year
    y_0 = float(df[q][i0])

    # Get the index for this quarter after 1 years
    i1 = quarter_to_date(q, 1)
    try:
        # Get the value for this quarter after 1 year
        y_1 = float(df[q][i1])
        # Calculate the difference between year 1 and year 0
        d1 = round(y_1-y_0, 1)
    except:
        d1 = None

    # Get the index for this quarter after 2 years
    i2 = quarter_to_date(q, 2)
    try:
        # Get the value for this quarter after 2 year
        y_2 = float(df[q][i2])
        # Calculate the difference between year 2 and year 0
        d2 = round(y_2-y_0, 1)
    except:
        d2 = None

    # Get the index for this quarter after 3 years
    i3 = quarter_to_date(q, 3)
    try:
        # Get the value for this quarter after 3 year
        y_3 = float(df[q][i3])
        # Calculate the difference between year 3 and year 0
        d3 = round(y_3-y_0, 1)
    except:
        d3 = None

    # Add a row to the new dataframe with these three differences
    df_new.loc[q] = [d1, d2, d3]

/var/folders/fz/rw_v4n9d4gqdp7wz0pxh8q5w0000gp/T/ipykernel_41682/4091443858.py:48: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_new.loc[q] = [d1, d2, d3]
/var/folders/fz/rw_v4n9d4gqdp7wz0pxh8q5w0000gp/T/ipykernel_41682/4091443858.py:48: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_new.loc[q] = [d1, d2, d3]
/var/folders/fz/rw_v4n9d4gqdp7wz0pxh8q5w0000gp/T/ipykernel_41682/4091443858.py:48: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_new.loc[q] = [d1, d2, d3]

In [104]:
# Add a new column 'average_revision' containing the average of the other three columns
df_new['average_revision'] = df_new[['1_year_revision', '2_year_revision', '3_year_revision']].mean(axis=1)

In [105]:
df_new

         1_year_revision  2_year_revision  3_year_revision  average_revision
2010 Q1             -0.1              0.1              0.3          0.100000
2010 Q2             -0.1             -0.5             -0.2         -0.266667
2010 Q3             -0.2             -0.2             -0.4         -0.266667
2010 Q4              0.1              0.2              0.4          0.233333
2011 Q1             -0.3              0.0              0.0         -0.100000
2011 Q2             -0.3             -0.1             -0.1         -0.166667
2011 Q3              0.0              0.1              0.2          0.100000
2011 Q4             -0.1              0.1              0.2          0.066667
2012 Q1              0.2              0.3              0.4          0.300000
2012 Q2              0.0              0.1              0.3          0.133333
2012 Q3             -0.4             -0.2              0.0         -0.200000
2012 Q4              0.2              0.0              0.2          0.133333
2013 Q1              0.1              0.3              0.4          0.266667
2013 Q2              0.0             -0.1             -0.2         -0.100000
2013 Q3              0.1              0.1              0.0          0.066667
2013 Q4             -0.3             -0.1             -0.2         -0.200000
2014 Q1              0.1             -0.2              0.0         -0.033333
2014 Q2              0.1              0.1              0.1          0.100000
2014 Q3             -0.1              0.1              0.1          0.033333
2014 Q4              0.2              0.3              0.3          0.266667
2015 Q1              0.2              0.0              0.0          0.066667
2015 Q2             -0.3             -0.2             -0.1         -0.200000
2015 Q3             -0.2             -0.1             -0.1         -0.133333
2015 Q4              0.2              0.2              0.2          0.200000
2016 Q1             -0.2             -0.2             -0.1         -0.166667
2016 Q2              0.0             -0.4             -0.4         -0.266667
2016 Q3             -0.1              0.0              0.0         -0.033333
2016 Q4              0.0              0.0             -0.1         -0.033333
2017 Q1              0.1              0.2              0.4          0.233333
2017 Q2             -0.1              0.0              0.0         -0.033333
2017 Q3              0.0             -0.1              0.0         -0.033333
2017 Q4              0.0              0.0              0.0          0.000000
2018 Q1              0.0              0.0              0.0          0.000000
2018 Q2              0.0              0.1              0.0          0.033333
2018 Q3              0.0              0.0              0.0          0.000000
2018 Q4              0.0              0.0              0.1          0.033333
2019 Q1              0.2              0.1              0.1          0.133333
2019 Q2              0.1              0.3              0.3          0.233333
2019 Q3              0.0              0.2              0.3          0.166667
2019 Q4              0.0              0.0              0.0          0.000000
2020 Q1             -0.8             -0.5             -0.6         -0.633333
2020 Q2              0.9              1.0             -0.6          0.433333
2020 Q3              1.9              1.1              NaN          1.500000
2020 Q4              0.5              0.2              NaN          0.350000
2021 Q1              0.3              0.4              NaN          0.350000
2021 Q2              0.8              1.7              NaN          1.250000
2021 Q3              0.5              NaN              NaN          0.500000
2021 Q4              0.5              NaN              NaN          0.500000
2022 Q1             -0.3              NaN              NaN         -0.300000
2022 Q2              0.2              NaN              NaN          0.200000
2022 Q3              NaN              NaN              NaN               NaN
2022 Q4              NaN              NaN              NaN               NaN
2023 Q1              NaN              NaN              NaN               NaN